asttokens==3.0.0
async-timeout==5.0.1
backcall==0.2.0
certifi==2025.4.26
charset-normalizer==3.4.2
cjklib3==0.0.3
cnsyn==1.0.1
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
executing==2.2.0
fleep==1.0.1
greenlet==3.1.1
hanzipy==1.0.4
idna==3.10
ifaddr==0.2.0
importlib-metadata==8.5.0
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.2
jieba==0.42.1
joblib==1.4.2
jupyter-client==8.6.3
jupyter-core==5.8.1
Levenshtein==0.25.1
libarchive-c==5.3
Markdown==3.7
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==1.24.4
opendrop==0.13.0
packaging==25.0
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.3.6
prompt-toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.1
pypinyin==0.54.0
python-dateutil==2.9.0.post0
python-Levenshtein==0.25.1
pytz==2025.2
pyzmq==26.4.0
rapidfuzz==3.9.7
requests==2.32.4
requests-toolbelt==1.0.0
scikit-learn==0.24.2
scipy==1.10.1
six==1.17.0
some-package==0.1
SQLAlchemy==1.4.54
stack-data==0.6.3
threadpoolctl==3.5.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
wcwidth==0.2.13
Whoosh==2.7.4
woosh==0.0.1
zeroconf==0.136.2
zipp==3.20.2
